.hero {
    position: relative;
    width: 100%;
    display: inline-block;
    height: 1008px;
    background: 
    url(/img/Hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body, html {
    margin: 0;
    padding: 0;
}

.navbar {
    position: relative;
    width: 87%;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 18px 40px; /*add spacing inside bar*/
    height: fit-content; 
    background: linear-gradient(to right, #00D844, #05501D, #00D844);
    border-radius: 3px;
    margin:  auto; /*centers navbar*/
    height: 50px;
    top: 100px; /*moves navbar downward*/
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
}

.logo {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    background-color: #D7F3D2;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: underline;
}

.hero-content {
    width: 911px;
    height: 330px;
    position: inherit;
    left: 212px;
    top: 289px;
    transform: translateY(-40%);
}

.hero-content h1 {
    width: 911px;
    height: 330px;
    top: 289px;
    left: 212px;
    font-weight: 700;
    font-style: bold;
    font-size: 84px;
    color: #ffffff;
}

.hero-content p {
    width: 750px;
    height: 54px;
    top: 645px;
    left: 212px;
    font-weight: 400;
    font-style: regular;
    font-size: 20px;
    color: #ffffff;
    margin-top: -65px;
}

/*green when active*/
.lite:active {
    background-color: #00D844;
    color: #ffffff;
}

.region, .lite {
    position: relative;
    top: 55px;
}

.region {
    border: #E4AF1F 1px solid;
    gap: 28px;
    width: 272px;
    height: 48px;
    border-radius: 8px;
}

.lite {
    border: 1px;
    left: 30px;
    height: 49px;
    width: 160px;
    gap: 10px;
    border-radius: 8px;
}

.tee {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to left, #BAE9B5, #F8F7F0);
}

.tee h1 {
    top: 1097px;
    padding: 50px;
    left: 421px;
    font-size: 2.5rem;
    font-weight: 700;
    font-size: bold;
    color: #1F1E17;
    padding: 40px;
}

.track {
    display: flex;
    justify-content: center;
    gap: 67px;
    top: 1346px;
    left: 211px;
    padding: 60px 20px;
    background: linear-gradient(to bottom, #BAE9B5, #F8F7F0);
}

.track-card {
    width: 319px;
    background: #ffffff;
    padding: 40px 20px 20px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.track-card .icon {
    display: flex;
    width: 75px;
    height: 75px;
    left: 122px;
    background: #007224;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.track-card img {
    width: 34.31px;
    height: 34.31px;
    top: 16.5px;
    left: 138.5px;
    border: 2px;
    color: #EEC044;
}

.track-card h3 {
    margin: 30px;
    font-size: 36px;
    color: #007224;
    padding: 15px;
}

.track-card p {
    color: #1F1E17;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
}

.center-line {
    top: 1784px;
    width: 93%;
    height: 5px;
    border-radius: 5px;
    margin: 30px auto;
    background: #007224;
}

.troy {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top, #BAE9B5, #F8F7F0);
}

.troy h1 {
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    top: 1888px;
    padding: 30px;
    color: #1F1E17;
}

.zealot {
    display: flex;
    top: 2149px;
    gap: 67px;
    justify-content: center;
    padding: 60px 20px;
    background: linear-gradient(to bottom, #BAE9B5, #F8F7F0);
}

.zealot-card {
    width: 319px;
    position: relative;
    background: linear-gradient(to bottom, #2FBD22, #165710);
    border-radius: 16px;
    padding: 40px 20px 20px;
    top: -40px;
    color: #ffffff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.zealot-card .icon1 {
    display: flex;
    width: 75px;
    height: 75px;
    left: 122px;
    border-radius: 50%;
    background: #007224;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border: white 3px solid;
}

.zealot-card img {
    width: 38px;
    height: 38px;
    top: 18.5px;
    left: 140.5px;
    border: 2px;
    color: #EEC044;
    border-radius: 2px;
}

.zealot h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    color: #F8F7F0;
    padding: 15px;
}

.zealot p {
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #F8F7F0;
    padding: 10px;
}

.overlay-container {
    display: flex;
    background: 
    url(/img/Image\ BG\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    top: 2562px;
    height: 475px;
    left: -153px;
    justify-content: space-between;
    align-items: center;
}

.overlay-container .item {
    position: relative;
    z-index: 2;
    color: white;
    font-weight: 700;
    font-size: 70px;
}

.sea {
    width: 47px;
    font-weight: 700;
    font-style: bold;
}

.hafa {
    display: flex;
    background: linear-gradient(to top, #BAE9B5 0%, #F8F7F0 60%);
    padding: 60px 0;
    font-family: "poppins", sans-serif;
    top: 3238px;
    left: 210px;
}

.content-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    max-width: 1100px;
    margin: auto;
}

.left h1 {
    width: 430px;
    top: 3238px;
    left: 210px;
    font-weight: 700;
    font-size: 36px;
    font-style: bold;
    color: #1F1E17;
    padding: 40px;
}

.divider {
    width: 456px;
    top: 3169px;
    left: 756px;
    border: 12px;
    color: #1F1E17;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.step {
    display: flex;
    align-items: center;
    gap: 20px;
}

.step p {
    padding: 20px;
}

.cycle {
    width: 79px;
    height: 79px;
    background: #EEC044;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    font-style: bold;
    color: #007224;
}

.right p {
    width: 364px;
    font-weight: 600;
    font-style: semibold;
    line-height: 100%;
    margin: 0;
    font-size: 22px;
    color: #1F1E17;
}

/*mobile responsiveness*/
@media (max-width: 768px) {
    .content-wrap {
        flex-direction: column;
        gap: 30px;
    }
    .divider {
        height: 2px;
        width: 80px;
    }
    .left h2 {
        font-size: 34px;
    }
}

.start {
    position: relative;
    width: 100%;
    height: 60vh;
    background: 
    url(/img/b2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #1F1E1799;
}

.start .overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
}

.start-content {
    position: relative;
    color: white;
    margin-top: 50px;
}

.start-content h3 {
    font-size: 60px;
    font-weight: 700;
    gap: 10px;
    left: 211px;
    padding: 20px;
}

.start-content p {
    font-size: 26px;
    font-weight: 500;
    font-style: medium;
    line-height: 100%;
    margin-top: -50px;
    padding: 3px;
}

.spine {
    position: relative;
    width: 100%;
    height: 719px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 29px;
    background: linear-gradient(to right, #d8fadc, #fafafa, #cdfdc9);
}

.spine-content h3 {
    width: 1086px;
    height: 10px;
    font-weight: 700;
    font-style: bold;
    font-size: 64px;
    line-height: 100%;
    padding: 20px 10px;
}

.spine-content p {
    width: 1086px;
    font-weight: 400;
    font-style: regular;
    font-size: 36px;
    line-height: 100%;
    color: #1F1E17;
    padding: 20px;
}

.spine-content {
    position: relative;
    font-weight: 400;
}

.Bact-to-Top {
   position: absolute;
   bottom: 10px;
   top: 447px;
   right: 20px;
   left: 1050px;
   width: 120px;
   height: auto;
   cursor: pointer;
}

.winning-crop {
    position: relative;
    width: 100%;
    height: 475px;
    background: 
    url(/img/b4.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.winning-crop .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55); 
}

.winning-crop-content {
    position: relative;
    color: white;
}

.winning-crop h3 {
    font-size: 3rem;
    font-weight: 700;
    font-style: bold;
    gap: 10px;
    padding: 20px;
}

.winning-crop p {
    font-size: 1.25rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: -60px;
    height: 34px;
    padding: 5px;
}

.footer {
    background: linear-gradient(to bottom, #044217, #00D844 99.9%);
    color: white;
    padding: 60px 40px 20px;
    font-family: "Poppins", sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    gap: 40px;
}

.footer-section h2,
.footer-section h3 {
    margin-bottom: 15px;
}

.logo2 {
    font-size: 28px;
    font-weight: 700;
}

.sea1 {
    font-weight: 700;
    font-style: bold;
    width: 20px;
    height: 20px;
}

/*styling paragraph*/ 
.footer-section p {
    margin: 5px 0;
}

.footer-section {
    color: white;
    justify-content: center;
    align-items: center;
}


/*social icons*/
.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 9px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons a {
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.social-icons i:hover {
    transform: scale(1.15);
}

/*Footer-line*/ 
.footer-line {
    height: 2px;
    background: #F8F7F0;
    margin: 40px auto 20px;
    max-width: 1250px;
    border: 5px;
}

/*Copyright*/ 
.footer-bottom {
    display: flex;
    margin: auto;
    justify-content: space-between;
    max-width: 1100px;
    height: 33px;
    font-weight: 600;
    font-style: semibold;
    font-size: 15px;
    color: #FFFFFF;
}

